/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require foundation
 */


/* HOSTING CSS IN HERE BECAUSE REQUIRE NOT WORKING RIGHT NOW*/

label {
  color: white;
}

body {
  background-color: #292929;
  color: white;
  padding-bottom: 25px;
}

.avatar {
  height: 15rem;
}

/*.review-form {
  margin-right: 15em;
}*/

.new-review-title {
  color: white;
}

.title {
  /*color: #5BFCEF;*/
     color: #269CC4;
  font-family: Kanit;
  font-weight: 400;
  font-size: 500%;
}

.subtitle {
  color: #269CC4;
  font-family: Kanit;
  font-weight: 400;
}
.callout {
  background-color: #292929;
}
 .show-poster-div {
   width: 10em;
 }
 strong {
   color: #269CC4;
 }

 .show-poster {

 }

 .bni-rating {
   margin-left: 5em;
 }

 .show-details {
   /*padding-right: 15em;*/
 }

 .program-tile {
   width: 10em;
 }

.upvoted {
  color: Green;
}

.downvoted {
  color: red;
}

.voter {
  size: 200%;
}
.pager {
  margin-right: 1em;
}
.program-tile {
  margin: auto;
  text-align: center;
  height: 30em;
}

.program-tile-pic {
  margin: auto;
  height: 25em;
  width: inherit;
  text-align: center;
}
/*.index-display {
  padding: auto;
  margin: padding;

}*/
.grid-container {
  max-width: 80rem;
}

.new-user {
  width: 75%;
}

.title-main {
  width: 80px;
  height: inherit;
  margin-top: 8px;
  margin-left: 8px;
}
.top-bar{
  font-weight: bold;
  font-size: 150%;
  height: 5em;
  background-image: url('http://www.themesltd.com/headers2/starry_night_sky.png')
}

.add-program-link {
  font-size: 200%;
  font-weight: 700;
}

.index-text {
  /*color: white;*/
}
.callout {
  border-style: none;
}

.scorebox {
  /*border-style: solid;
  border-width: 3px;
  border-radius: 4px;
  border-color: grey;
  margin: auto;*/
}
